* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

section {
    width: 600px;
    height: 600px;
    margin: 50px auto 0;
    display: grid;
    grid-gap: 30px;
}

section div {
    background-color: teal;
}

.col-2 {
    grid-column: span 2;
}

.col-3 {
    grid-column: span 3;
}

.row-2 {
    grid-row: span 2;
}