* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

section {
    width: 600px;
    height: 600px;
    margin: 50px auto 0;
    display: grid;
    grid-gap: 3px;
    grid-template-areas: "header haeder header"
                         "menu menu sidebar"
                         "content-left content-right sidebar"
                         "content-bottom footer footer";
    grid-template-rows: 30px 100px repeat(2, 150px);
}

section div {
    background-color: teal;
}

.header {
    grid-area: header;
}

.menu {
    grid-area: menu;
}

.sidebar {
    grid-area: sidebar;
}

.content-left {
    grid-area: content-left;
}

.content-right {
    grid-area: content-right;
}

.content-bottom {
    grid-area: content-bottom;
}

.footer {
    grid-area: footer;
}