* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

section {
    width: 600px;
    height: 600px;
    margin: 50px auto 0;
    display: grid;
    grid-gap: 30px;
}

section div {
    background-color: teal;
}

.header {
    grid-column-start: 1;
    grid-column-end: 3;
}

.col-1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.col-2 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.col-3 {
    width: 60%;
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 3;
}

.footer {
    grid-column-start: 1;
    grid-column-end: 3;
}