* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    height: 150px;
    margin-bottom: 30px;
}

.row > div {
    margin-right: 30px;
    background: grey;
}

.row > div:last-child {
    margin-right: 0;
}

.col-1 {
    flex-grow: 1;
}

.col-2 {
    flex-grow: 2;
}

.col-3 {
    flex-grow: 1;
}