* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header {
    background: gray;
    width: 100%;
    height: 150px;
    margin-bottom: 30px;
}

footer {
    background: gray;
    width: 100%;
    height: 150px;
}

.row {
    display: flex;
    height: 150px;
    margin-bottom: 30px;
}

.row div {
    background: grey;
}

.col-1, .col-2 {
    margin-right: 30px;
}

.col-1, .col-2, .col-3 {
    flex-grow: 1;
}