* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

main {
    width: 688px;
    margin: 150px auto 0;
}

article {
    width: 100%;
    border: solid #ECF0F1;
    padding: 20px 20px 0;
}

article .poster {
    width: 100%;
    height: 350px;
    background: #A1B1BC;
    margin-bottom: 14px;
}

article header {
    border-bottom: solid 1px #ECF0F1;
    padding-bottom: 5px;
    margin-bottom: 10px;
    height: 80px;
}

article header h1 {
    font-family: 'Lobster';
    font-size: 24px;
    line-height: 30px;
    color: #21C2F8;
    margin-bottom: 5px;
}

article header p {
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 30px;
    color: #A1B1BC;
}

article header p span::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: #EBEBEB;
    margin-right: 10px;
    margin-left: 10px;
}

article header p span:last-child::after {
    display: none;
}

article .content .text {
    margin-bottom: 15px;
}

article .content .text p {
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 25px;
    color: #A1B1BC;
    word-spacing: -1px;
}

article .content a {
    display: inline-block;
    font-family: 'PT Sans';
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #21C2F8;
    text-decoration: none;
    margin-bottom: 20px;
}