main {
    width: 600px;
    margin: auto;
}

header, footer {
    width: 100%;
}

main div, header, footer {
    height: 150px;
    margin-bottom: 30px;
    background: blue;
}

.cell {
    float: left;
    width: 180px;
    margin-right: 30px;
}

footer {
    clear: both;
}

.cell:last-of-type {
    margin-right: 0;
}