.message {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 300px;
    padding: 15px 20px;
    border: solid 1px grey;
    background: #d6d6d6;
}

.message a {
    text-decoration: none;
    color: grey;
    position: absolute;
    top: 15px;
    right: 15px;
}

.message p {
    margin: 0;
    font-weight: bold;
}

.message span {
    max-width: 200px;
    display: inline-block;
    color: grey;
    margin-top: 10px;
}